body {
  margin: 0;
  height: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  background-color: '#DEF2F1';
  max-width: 500px;
  margin: 0px auto;
  min-height: 100vh;
  display: flex;
}